@page "/"


<div class="text-center">
    <h1 class="mb-5">Générateur de pseudo</h1>

    <div class="my-2">
        <button @onclick="@(e => PseudoGeneratorTest())" class="btn btn-primary btn-lg">Créer</button>
    </div>

    <div class="my-4">
        @if (result != null)
        {
            @result
        }
    </div>
    @*<div class="my-2">
            <button @onclick="@(e => Validate())" class="btn btn-success btn-lg">Valider</button>
        </div>*@
</div>

@code{

    public string result { get; set; }



    public void PseudoGeneratorTest()
    {
        PseudoGenerator.ParseFile(@"C:\Users\Libre\Desktop\liste_francais.txt");
    }

    //Test cloud
    //List<string> list1 = new List<string>();
    //List<string> list2 = new List<string>();
    //list1 = PseudoGenerator.ParseFile(@"FILENAME");
    //    list2 = PseudoGenerator.ParseFile(@"FILENAME2");
    //    result = PseudoGenerator.GetPseudo(list1, list2);
    
    //Test manuel
    //List<string> list1 = new List<string> { "Crab", "Lapin", "Poisson", "Chat", "Chien" };
    //List<string> list2 = new List<string> { "Superbe", "Zen", "Genial", "Amusant", "Gentil" };
}
